@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr;
    grid-auto-rows: 120vh;
}

.panel {
    display: grid;
    grid-template-columns: 1fr;
}
.panel .text {
    background: #f0f0da;
    padding: 30px 60px;
}

/* welcome panel */
.panel.welcome {
    background: #373330;
    padding: 30px 60px 10px;
}
.panel.welcome nav a {
    color: #aaaaaa;
    text-decoration: none;
    margin-right: 20px;
}
.panel.welcome p {
    color: #aaaaaa;
    max-width: 540px;
    line-height: 2em;
}
.panel.welcome h1 {
    color: #eeeee7;
    line-height: 3em;
}
.panel.welcome footer {
    align-self: end;
}

/* about panel */
.panel.about {
    grid-template-rows: 3fr 1fr;
}
.panel.about img {
    overflow-y: hidden;
    height: 100%;
    object-fit: cover;
}

/* photos panel */
.panel.photos {
    grid-template-rows: 1fr 3fr;
    overflow: hidden;
}
.panel.photos img {
    height: 100%;
    object-fit: cover;
}

/* responsive */
@media screen and (max-width: 930px) {
    main {
        grid-template-columns: 1.2fr 1fr;
    }
    
    .panel.photos {
        grid-column: span 2;
        grid-template-columns: 1.2fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    main {
        grid-template-columns: 100%;
        grid-template-rows: 500px 400px 400px;
    }
    
    .panel.about {
        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .panel.photos {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}